/*UNTUK PAPARAN HEADER */
.header{
width: 100%;
height: 300px;
/*LETAKKAN GAMBAR HEADER */
background:url('gambar/real.jpg');
background-size:cover;
color: #5b381e;
text-align: left-top;
padding: 0% 11%;
border:5px double;
}
/*UNTUK PAPARAN MENU-KIRI */
#menu {
width: 20%;
padding: 10px;
left: 1%;
float: left;
color: #5b381e;
}
/*UNTUK PAPARAN ISI LAMAN */
#isi{
width: 80%;
padding: 10px;
left: 1%;
float: left;
}
/*UNTUK BUTANG */
button{
background-color: #bba18d ;
color: #47413b ;
padding: 10px 20px; 
border: dashed;
border-radius: 5px;
cursor: pointer;
text-decoration: none;
}
/*UNTUK ANIMASI BUTANG */
button:hover {
background-color: #dfcdbf;
}

/*UNTUK PAPARAN TABLE*/
table { width: 80%;
border-collapse: collapse;
}
th { text-align: left; }
th, td { padding: 5px;
border-bottom: 10px solid transparent;
background-color: #dfcdbf;
color:#5b381e;
background-clip: padding-box;
}
/*UNTUK FUNGSI CETAKAN */
@media print{
.header, select, form, #menu, #sembunyi, button
{display: none;}
#printarea, div {
top:0;
left:1%;
padding:0;
width: 100;
}
}
/*UNTUK FONT */
html {
font-family: "Georgia", serif;
}
/*UNTUK BACKGROUND */
body {
background: url('gambar/grid.jpg') no-repeat center center fixed;
background-size: cover;
}
/*UNTUK WRAP */
.wrapper{
display:flex;
flex-direction:row;
justify-content:left;
flex-wrap: wrap;
}
/*UNTUK KAD PRODUK */
.product-card {
border-radius: 50px;
width: 200px;
margin: 5px;
padding: 10px;
background-color:#d2a2a1   ;
text-align: center;
}
/*UNTUK SAIZ IMEJ */
.product-image {
width: 50%
height: auto;
}
/*UNTUK SAIZ DAN WARNA FONT */
p{
font-size: 15px;
color: #492c17 ;
margin: 6px 0;
}

/* SEMUA BARIS */
* {
box-sizing: border-box;
}
/* PAPARAN */
.row:after {
content: "";
display: table;
clear: both;
}
/* RESPONSIVE SCREEN */
@media screen and (max-width: 600px) {
#menu,#isi {
width: 100%;
}
}


